/* p{
    position: static;
} */

div{  width: 200px;
    height: 200px;
    background-color: red;
    border:1px solid black;

}

/* relative property */
.box{
    position: relative;
    left:15px;
    top:100px;
  
}
