h1{
    /* text-shadow: 3px 3px 2px red; */
     text-shadow: 4px 3px 2px red, 5px 5px 5px rgb(47, 234, 23);
}

h2{
    font-size: larger;
    text-shadow: 3px 3px 2px rgb(218, 100, 100), 6px 6px 6px green;
     
}
h3{
    text-shadow: 3px 3px 2px rgb(233, 20, 20), 60px 6px 6px green;
}
h4{
    /* text-shadow: 3px 3px 2px rgb(233, 20, 20), 6px 40px 6px green;
    text-shadow: 3px 3px 2px rgb(233, 20, 20), 60px 70px 6px green; */
    text-shadow: 34px 3px 2px rgb(233, 20, 20), 60px 30px 6px rgb(0, 43, 128);
}
h5{
    text-shadow: 5px 2px 3px rgb(233, 20, 20), 6px 6px 10px rgb(214, 13, 33);
}
 
.box{
    background-color: aqua;
    width: 200px;
    height: 200px;
    box-shadow: 10px 10px;
    color: blue;
}
.div{
    background-color: brown;
    width: 200px;
    height: 200px;
    color: orange;
    box-shadow: -20px -20px 20px 20px rgb(29, 173, 19),20px 20px 20px 20px rgb(180, 11, 40);
    
}